.Frame2 { width: 1584px; height: 1752px; position: relative
}
.Buttons { width: 331px; height: 157px; left: 127px; top: 41px; position: absolute
}
.Rectangle31 { width: 150px; height: 45px; left: 65px; top: 112px; position: absolute; background: #73BFB8; border-radius: 10px; border-right: 4px #FEC601 solid
}
.Rectangle18 { width: 100px; height: 35px; left: 231px; top: 107px; position: absolute; background: #73BFB8; border-radius: 10px; border-right: 4px #FEC601 solid
}
.Rectangle33 { width: 150px; height: 45px; left: 65px; top: 57px; position: absolute; background: #FEC601; border-radius: 10px; border-right: 4px #73BFB8 solid
}
.Rectangle862 { width: 100px; height: 35px; left: 231px; top: 62px; position: absolute; background: #FEC601; border-radius: 10px; border-right: 4px #73BFB8 solid
}
.X47 { width: 100px; height: 29px; left: 231px; top: 33px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.X508 { width: 100px; height: 29px; left: 70px; top: 34px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word
}
.Buttons1 {
    width: 94px; height: 34px; left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
.Navbar { width: 852px; height: 181px; left: 131px; top: 622px; position: absolute
}
.Option1 { width: 800px; height: 45px; left: 52px; top: 136px; position: absolute
}
.Rectangle7 { width: 800px; height: 45px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border-right: 4px #FEC601 solid
}
.Hui { width: 34px; height: 28.80px; left: 22px; top: 5.79px; position: absolute"><span style="color: black; font-size: 24px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word">HUI</span><span style="color: black; font-size: 24px; font-family: Archivo Narrow; font-weight: 400; word-wrap: break-word
}
.Account { width: 30px; height: 19.29px; left: 742px; top: 12.21px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/30x19
}
.Rectangle8 { width: 250px; height: 32.14px; left: 470px; top: 5.79px; position: absolute; background: #73BFB8; border-radius: 10px
}
.Search { width: 47px; height: 21.60px; left: 502px; top: 9px; position: absolute; color: white; font-size: 18px; font-family: Archivo Narrow; font-weight: 400; word-wrap: break-word
}
.Option2 { width: 800px; height: 45px; left: 52px; top: 57px; position: absolute
}
.Rating { width: 342px; height: 104px; left: 132px; top: 1596px; position: absolute
}
.Group16 { width: 300px; height: 45px; left: 42px; top: 59px; position: absolute
}
.Rectangle10 { width: 300px; height: 45px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border-right: 4px #FEC601 solid
}
.Star1 { width: 45px; height: 28.93px; left: 29.70px; top: 6.43px; position: absolute" src="https://via.placeholder.com/45x29
}
.Star2 { width: 45px; height: 28.93px; left: 125px; top: 6.43px; position: absolute" src="https://via.placeholder.com/45x29
}
.Star23 { width: 45px; height: 28.93px; left: 173px; top: 6.43px; position: absolute" src="https://via.placeholder.com/45x29
}
.Star4 { width: 45px; height: 28.93px; left: 221px; top: 6.43px; position: absolute" src="https://via.placeholder.com/45x29
}
.Star73 { width: 45px; height: 28.93px; left: 77px; top: 6.43px; position: absolute" src="https://via.placeholder.com/45x29
}
.Toast { width: 552px; height: 139px; left: 131px; top: 842px; position: absolute
}
.Success1 { width: 500px; height: 45px; left: 52px; top: 34px; position: absolute
}
.Rectangle11 { width: 500px; height: 45px; left: 0px; top: 0px; position: absolute; background: #73BFB8; border-radius: 10px
}
.ToastBody { width: 238px; height: 24.30px; left: 32px; top: 12.60px; position: absolute; color: #020000; font-size: 18px; font-family: Archivo Narrow; font-weight: 400; word-wrap: break-word
}
.XCircle { width: 30px; height: 27px; left: 452px; top: 9px; position: absolute" src="https://via.placeholder.com/30x27
}
.Warning { width: 500px; height: 45px; left: 52px; top: 94px; position: absolute
}
.Forms { width: 376px; height: 247px; left: 131px; top: 1015px; position: absolute
}
.Group14 { width: 250px; height: 153px; left: 55px; top: 24px; position: absolute
}
.Rectangle12 { width: 250px; height: 45px; left: 0px; top: 0px; position: absolute; background: #FEC601; border-radius: 10px; border-right: 4px #73BFB8 solid
}
.Email { left: 25px; top: 12px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Password { left: 25px; top: 70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Ellipse1 { width: 22px; height: 23px; left: 25px; top: 130px; position: absolute; background: #73BFB8; border-radius: 9999px; border: 4px #FEC601 solid
}
.Bar2 { width: 300px; height: 23px; left: 55px; top: 224px; position: absolute
}
.Bard { width: 300px; height: 10px; left: 0px; top: 7px; position: absolute; background: #FEC601; border-radius: 10px
}
.Ellipse2 { width: 22px; height: 23px; left: 178px; top: 0px; position: absolute; background: #FEC601; border-radius: 9999px; border: 4px #73BFB8 solid
}
.Barf1 { width: 300px; height: 23px; left: 55px; top: 189px; position: absolute
}
.Barg { width: 300px; height: 10px; left: 0px; top: 7px; position: absolute; background: #73BFB8; border-radius: 10px
}
.Ellipse5 { width: 22px; height: 23px; left: 255px; top: 0px; position: absolute; background: #73BFB8; border-radius: 9999px; border: 4px #FEC601 solid
}
.Ellipse3 { width: 22px; height: 23px; left: 152px; top: 154px; position: absolute; background: white; border-radius: 9999px; border: 4px #FEC601 solid
}
.Ellipse4 { width: 22px; height: 23px; left: 185px; top: 154px; position: absolute; background: white; border-radius: 9999px; border: 4px #73BFB8 solid
}
.Rectangle19 { width: 30px; height: 30px; left: 346px; top: 75px; position: absolute; background: white; border-radius: 5px; border: 4px #FEC601 solid
}
.Form { left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
.GroupButton { width: 856px; height: 99px; left: 127px; top: 465px; position: absolute
}
.Group7 { width: 390px; height: 45px; left: 466px; top: 54px; position: absolute
}
.Rectangle13 { width: 390px; height: 45px; left: 0px; top: 0px; position: absolute; background: #FEC601; border-radius: 10px; border-right: 4px #73BFB8 solid
}
.Line1 { width: 45px; height: 0px; left: 261px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #73BFB8 solid
}
.Line2 { width: 45px; height: 0px; left: 127px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #73BFB8 solid
}
.Left { width: 50px; height: 25.07px; left: 54px; top: 11px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Right { width: 58px; height: 25.07px; left: 313px; top: 11px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Middle { width: 68px; height: 25.07px; left: 174px; top: 11px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
} 
.Group8 { width: 390px; height: 45px; left: 56px; top: 54px; position: absolute
}
.GroupButtons {  width: 155px; height: 34px; left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
.Pagination { width: 570px; height: 161px; left: 127px; top: 261px; position: absolute
}
.Line3 { width: 45px; height: 0px; left: 143px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #73BFB8 solid
}
.Line4 { width: 45px; height: 0px; left: 110px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #73BFB8 solid
}
.Line5 { width: 45px; height: 0px; left: 209px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #73BFB8 solid
}
.Line6 { width: 45px; height: 0px; left: 176px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #73BFB8 solid
}
.line3oik { width: 32.05px; height: 25.07px; left: 20px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line1321 { width: 56px; height: 25.20px; left: 56.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line12 { width: 37.18px; height: 25.07px; left: 90.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
} 
.line123 { width: 56px; height: 25.20px; left: 125.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line1234 { width: 37.18px; height: 25.07px; left: 159.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line213 { width: 56px; height: 25.20px; left: 186.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line543 { width: 21px; height: 25.20px; left: 221px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Option12 { width: 250px; height: 45px; left: 320px; top: 116px; position: absolute
}
.line5 { width: 8px; height: 19.80px; left: 19px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line4 { width: 8px; height: 19.80px; left: 55.79px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line73 { width: 8px; height: 19.80px; left: 89.79px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line7 { width: 8px; height: 19.80px; left: 124.79px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line89 { width: 8px; height: 19.80px; left: 158.79px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line75 { width: 8px; height: 19.80px; left: 185.79px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line722 { width: 8px; height: 19.80px; left: 224px; top: 11.70px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line433 { width: 96px; height: 25.20px; left: 14px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line411 { width: 37.18px; height: 25.07px; left: 90.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line455 { width: 56px; height: 25.20px; left: 125.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line48 { width: 37.18px; height: 25.07px; left: 159.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line499 { width: 56px; height: 25.20px; left: 186.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line4546 { width: 17px; height: 25.20px; left: 221px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Option22 { width: 250px; height: 45px; left: 319px; top: 52px; position: absolute
}
.line3oim4 { width: 96px; height: 25.20px; left: 13px; top: 9.90px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line3oib2 { width: 8px; height: 19.80px; left: 90.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line3oivc3 { width: 8px; height: 19.80px; left: 125.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line3oivze5 { width: 8px; height: 19.80px; left: 156px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line876887 { width: 8px; height: 19.80px; left: 186.79px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.line62 { width: 8px; height: 19.80px; left: 224px; top: 10.80px; position: absolute; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Modal { width: 642px; height: 252px; left: 132px; top: 1291px; position: absolute
}
.Group13 { width: 600px; height: 200px; left: 42px; top: 52px; position: absolute
}
.Rectangle9 { width: 600px; height: 200px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border-right: 4px #FEC601 solid
}
.ThisIsModalBarh { left: 226px; top: 86px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Archivo Narrow; font-weight: 400; word-wrap: break-word
}
.Vector { width: 15px; height: 15px; left: 31px; top: 24px; position: absolute; background: black
}
.Group11 { width: 349px; height: 554px; left: 132px; top: 2213px; position: absolute
}
.Rectangle14 { width: 300px; height: 500px; left: 49px; top: 54px; position: absolute; background: white; border-radius: 10px; border-right: 4px #FEC601 solid
}
.ImageHolder1000x300 { left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
.Group10 { width: 1044px; height: 360px; left: 137px; top: 1785px; position: absolute
}
.Rectangle15 { width: 1000px; height: 300px; left: 44px; top: 60px; position: absolute; background: white; border-radius: 10px; border-right: 4px #FEC601 solid
}
.Carousel { width: 1071px; height: 448px; left: 115px; top: 3380px; position: absolute
}
.Rectangle16 {  width: 1000px; height: 400px; left: 71px; top: 48px; position: absolute; background: white; border-radius: 10px; border-left: 4px #FEC601 solid
}
.Card { width: 721px; height: 450px; left: 115px; top: 2848px; position: absolute
}
.Group17 { width: 300px; height: 400px; left: 66px; top: 50px; position: absolute
}
.Rectangle5 { width: 300px; height: 400px; left: 0px; top: 0px; position: absolute; background: #73BFB8; border-radius: 10px; border-right: 4px #FEC601 solid
}
.CardBody1 { width: 230px; height: 94px; left: 39px; top: 276px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Rectangle6 {  width: 270px; height: 250px; left: 15px; top: 8px; position: absolute; background: white; border-radius: 10px; border-right: 2px #FEC601 solid; border-bottom: 2px #FEC601 solid
}
.Group18 { width: 300px; height: 400px; left: 421px; top: 50px; position: absolute
}
.CardBody3 { width: 230px; height: 94px; left: 39px; top: 276px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Archivo Narrow; font-weight: 600; word-wrap: break-word
}
.Card270x250 { left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word
}
.Frame1 { 
}
.Rectangle334 {
}
.Rectangle86524 {
}
.X5061 {
}
.Rectangle3341 {
}
.X50913 {
}
.X441 {
}
.Rectangle123 {
}
.X44314 {
}
.ButtonsAr {
}
.NavBarz {
}
.line61 {
}
.line6 {
}
.NavBaraAr {
}
.Star723 {
}
.Star72 {
}
.Star7 {
}
.Star8 {
}
.Star94 {
}
.RatingAr {
}
.Success3 {
}
.ToastBodyAr {
}
.ToaStar924 {
}
.line67 {
}
.line68 {
}
.Barh2 {
}
.Barj {
}
.Barjn1 {
}
.Bar {
}
.Ellipse51 {
}
.line69 {
}
.line67654 {
}
.linefds {
}
.line151d {
}
.line57 {
}
.line578 {
}
.line5765 {
}
.line5795 {
}
.line5345 {
}
.line53488 {
}
.line512 {
}
.line52123 {
}
.line5m {
}
.line5c {
}
.line5r {
}
.line5t {
}
.line5y {
}
.line5u {
}
.line5i {
}
.line5oy {
}
.line3f {
}
.line3g {
}
.line3h {
}
.line3j {
}
.line3c {
}
.line3b {
}
.line3x {
}
.line3 {
}
.line3i {
}
.line3u {
}
.line3m {
}
.line3qw {
}
.PaginationAr {
}
.line3oo {
}
.ModalAr {
}
.ImageHolderAr1000300 {
}
.CarousalAr {
}
.CardBody4 {
}
.CardBody {
}
.CardAr270250 {
}
